ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
}
li{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 15px;
}
li a {
    padding: 15px;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    margin: 10px;

    background: chocolate;
}

li a:hover{
    background: lightsalmon;

}