ul{
    list-style: none;
    width: 100%;
}
li{
    width: 200px;
    height: 30px;

    margin: 15px;
}
li a {
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    margin: 10px;

    background: chocolate;
    border-radius: 30% 30%;
}

li a:hover{
    background: lightsalmon;

}